<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas Akhir</title>
    <link rel="stylesheet" href="../node_modules/aos/dist/aos.css" />
    <script src="../node_modules/aos/dist/aos.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/5fd2369345.js"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="bg-warning-subtle bg-gradient">
    <nav
      class="navbar navbar-expand-md navbar-dark fixed-top bg-gradient bg-primary">
      <div class="container">
        <a class="navbar-brand" href="index.html"
          ><img
            class="rounded-circle me-1"
            src="../assets/img/logo.jpg"
            alt="Bootstrap"
            width="60"
            height="60" />
          <span class="nav-hover h5">Kobessah Kopi</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link nav-hover" href="menu.html">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-hover" href="about.html">Tentang Kami</a>
            </li>
          </ul>
          <div class="d-flex" id="payment">
            <a class="btn btn-warning" href="cart.html">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- end nav -->
    <main class="pt-5 container">
      <div class="row mt-5">
        <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
          <div class="card p-4 overflow-auto">
            <div class="p-3">
              <div class="row justify-content-around">
                <div class="col">
                  <h4 class="d-inline">Detail Pesanan</h4>
                </div>
                <hr class="hr mt-3" />
              </div>
              <!-- Looping Cart -->
              <div class="col">
                <table class="table table-warning table-responsive-sm">
                  <div class="row" id="cart"></div>
                </table>
              </div>
              <!-- Looping Cart -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
          <div class="card p-4 overflow-auto">
            <div class="p-3">
              <div class="row justify-content-around">
                <div class="col">
                  <h4 class="d-inline">Ringkasan</h4>
                </div>
                <hr class="hr mt-3" />
              </div>
              <div class="row" id="cart">
                <div class="col">
                  <table class="table table-warning table-responsive-sm">
                    <tr>
                      <td scope="row" width="2%" class="align-content-center">
                        Jumlah
                      </td>
                      <td
                        width="40%"
                        class="align-content-center text-end fw-bold"
                        id="qty">
                        0
                      </td>
                      <td class="align-content-center text-end">
                        <span id="total">0</span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control bg-warning-subtle"
                            id="floatingInput"
                            value="GAMELAB.ID"
                            placeholder="kode" />
                          <label for="floatingInput">Masukkan Kode Promo</label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <div class="d-grid gap-2">
                          <button class="btn btn-primary" id="pay">
                            Bayar
                          </button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer class="footer bg-gradient bg-primary shadow-lg mt-5">
      <div class="container text-white">
        <div class="row">
          <div class="col-md-6 mt-5 mb-5">
            <h5>Tentang</h5>
            <p>
              Kobessah merupakan tempat nongkrong nyaman dan asik untuk
              mahasiswa.
            </p>
          </div>
          <div class="col-md-6 mt-5 mb-5">
            <h5>Kontak</h5>
            <ul class="list-unstyled">
              <li>
                Alamat: Jl.Bima Sinduharjao, Kec.Ngaglik, Kab.Sleman,
                DI.Yogyakarta
              </li>
              <li>Email: Kobessah@gmail.com</li>
              <li>Phone: +62 895-6120-13456</li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12 text-center">
            <p>&copy; 2024 Kobessah Kopi</p>
          </div>
        </div>
      </div>
    </footer>
    <!--  -->
  </body>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <script src="../node_modules/bootstrap/dist/js/vanilla-tilt.js"></script>
  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="script.js"></script>
  <script>
    if (
      (sessionStorage.getItem("order") == null) |
      (sessionStorage.getItem("order") == "")
    ) {
      sessionStorage.removeItem("order");
      window.location.href = "menu.html";
    }
    $("#pay").click(() => {
      let timerInterval;

      Swal.fire({
        title: "Pembayaran Berhasil!",
        icon: "success",
        html: `Silakan tunggu pesanan Anda tiba dalam waktu singkat!`,
        showConfirmButton: false,
        timer: 1000,
        willClose: () => {
          clearInterval(timerInterval);
        },
      }).then((result) => {
        /* Read more about handling dismissals below */
        sessionStorage.removeItem("order");
        window.location.href = "menu.html";
      });
    });

    cart();
  </script>
</html>
